/** main*/

.main{
  display: flex;
  flex-direction: column;
  height: 80rem;
  padding: 0rem;
}

.main__welcome-img{
  background-image: url("../img/main_img.jpg");
  background-size: contain;
  opacity: .7;
  height: 50%;
}

.main__categories{
  display: grid;
  grid: 80% / repeat(2, 30%);
  height: 50%;

  justify-content: center;
  align-items: center;
  align-content: center;
  column-gap: 10rem;
  
}

.main__categories__man{ 
  height: 90%;
  background-image: url("../img/hombre_main.jpg");
  border-radius: 1rem;
}

.main__categories__fem{
  height: 90%;
  background-image: url("../img/mujer_main.jpg");
  border-radius: 1rem;
  background-size: cover;
}