.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  padding: 9rem 0 9rem 0;
}

.main__title{
  color: navy;
  font-size: 7rem;
  margin-bottom: 7rem;
}

.main__form{
  height: fit-content;
  width: 40%;
  /* background-color: orangered; */
}


.main__form__data  input{
  display: block;
  width: 100%;
  height: 6rem;
  margin-bottom: 1.5rem;
  padding-left: 2rem;

  font-size: 1.7rem;
  border: .1rem solid gray;
  border-radius: .5rem;
}

#main__form__data__ot__date{
  display: inline-block;
  width: 66%;

}

#main__form__data__ot__cvv{
  display: inline-block;
  width: 33%;
}

.main__form__div-button{
  height: fit-content;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

#main__form__div-button__button{
  width: 80%;
  margin: auto;
  cursor: pointer;

  background-color:salmon;
  font-size: 4rem;
  text-align: center;
  letter-spacing: 1rem;
  color: rgb(41, 41, 41);
}
