.main{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  margin: auto;
  padding: 10rem;
  background-color: rgba(243, 237, 216, 0.712);
}

.main__container{
  display: flex;
  justify-content: center;
  align-items: center;

  height: min-content;
}

.main__product-img{
  width: 50%;
  height: fit-content;
  text-align: center;
}

.main__product-info{
  height: 100%;  /*TODO: no usa el 100% del heigth del padre, porque?*/
  width: 50%;
  padding: 7rem;
}

.main__product-img__item{
  width: 27vw;
  height: 32vw;
}

.main__product-info__title{
  font-size: 7rem;
  margin: 0;
}

.main__product-info__price{
  font-size: 4rem;
  padding: 0;
  margin: 1rem;
}

.main__product-info__description{
  margin-top: 7rem;
  text-align: justify;
}

.main__product-info__cesta{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 7rem;
  width: 100%;
  height: fit-content;

}

.main__product-info__cesta__button{
  display: grid;
  grid: 1fr 1fr/ 1fr;
  row-gap: .6rem;
  width: 70%;
}

#main__product-info__cesta__button__add{
  padding: 1.5rem;
  background-color:rgb(68, 114, 255);
}

#main__product-info__cesta__button__add:hover{
  cursor: pointer;
}

#main__product-info__cesta__button__res{
  padding: 1.5rem;
  background-color: red;
}

#main__product-info__cesta__button__res:hover{
  cursor: pointer;
}

.main__product-info__cesta__value-div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#main__product-info__cesta__value-div__value{
  width: 80%;
  height: 100%;
  
  text-align: center;
  font-size: 3rem;
  color: black;
  border: .2rem dashed grey;
  
}

